<header class="header1">
    <a href="#">
        <img class="logo" src="imagesLINK" alt="Netprophets-logo" style="width: 170px; height:50px;">
    </a>
    <nav class="main-nav">
        <button class="btn btn-primary" style="border:none;">{{x}}</button>
        <button class="btn btn-danger" (click)="logout()" style="border:none; margin-left:10px">Log Out</button>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{x}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div> -->
    </nav>
</header>

<!-- <div class="grid-container">
  <div class="item1">
    <header class="header">
        <a href="#">
            <img class="logo" src="" alt="omnifood-logo">
        </a>
        <nav class="main-nav">
            <p>Suraj Kumar Yadav</p>
        </nav>
    </header>
  </div>
  <div class="item2 menu">Menu</div>
  <div class="item3 main">Main</div>  
  <div class="item5 footer">Footer</div>
</div> -->
